* {
  box-sizing: border-box;
}

body {
  background-color: #0B2434;
  margin: 0;
  overflow: hidden;
  padding: 16px;
}

.board {
  align-items: center;
  border-radius: 10px;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  height: 520px;
  justify-content: space-around;
  margin: 0 auto;
  padding: 34px;
  max-width: 800px;
}

.board__title {
  color: #2B283A;
  font-family: Karla;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.board__description {
  color: #4A4E74;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding-top: 10px;
  text-align: center;
}

.dice-container {
  display: grid;
  gap: 20px;
  grid-template: auto auto / repeat(5, 1fr);
}

.die {
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  color: #2B283A;
  cursor: pointer;
  height: 52px;
  padding: 9px 14px;
  width: 52px;
}

.die.held {
  background-color: #59E391;
}

.die__number {
  font-family: Karla;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.button {
  background-color: #5035FF;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding: 10px 22px;
  text-align: center;
  width: 160px;
}

.counter {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.roll-count {
  color: #fff;
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  body {
    padding: 10px;
  }

  .board {
    margin-top: 35%;
    width: 96%;
    padding: 16px;
  }

  .dice-container {
    gap: 10px;
  }
}

@media screen and (max-height: 700px) {
  .board {
    height: 460px;
    margin-top: 32px;
  }
}